html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  width: 318px;
  height: 318px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 104px;
  height: 104px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}